<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Animated Reset password</title>
  </head>

  <body>
    <div id="container" class="container">
      <!-- FORM SECTION -->
      <div class="row">
        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
          <div class="form-wrapper align-items-center">
            <form class="form sign-in" method="post" action="/reset-password/{{ token }}">
                <div class="msg">{{ msg }}</div>

                <div class="input-group">
                <i class="bx bxs-lock-alt"></i>
                <input type="password" name="password" placeholder="password"  required >
              </div>

              <input type="submit" class="submit" value="Send" />

              <p>
                <a href="/login" class="forget"> login </a>
              </p>


            </form>
          </div>
        </div>
        <!-- END SIGN IN -->
      </div>
      <!-- END FORM SECTION -->
      <!-- CONTENT SECTION -->
      <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
          <div class="text sign-in">
            <h2>
              Add New  <br />
               password
            </h2>
          </div>
        </div>
        <!-- END SIGN IN CONTENT -->
        <!-- SIGN UP CONTENT -->
        <div class="col align-items-center flex-col">
          <div class="text sign-up"></div>
        </div>
        <!-- END SIGN UP CONTENT -->
      </div>
      <!-- END CONTENT SECTION -->
    </div>

    <script src="/static/js/index.js"></script>
  </body>
</html>
